// Colors
$primary-color: #0ec9b3;
$secondary-color: #c9c8ce;
$tertiary-color: #3070e8;
$lighter-theme-color: #e8f9f9;
$light-theme-color: #c3d8f4;
$dark-theme-color: #84a3ce;
$author-text-color: #6f7770;
$menu-items-text-color: #007bff;
$visitor-bubble-text-color: #585b60;

// Breakbpoints
$mid-viewport: 768px;